@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?97549781');
  src: url('../font/icons.eot?97549781#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?97549781') format('woff2'),
       url('../font/icons.woff?97549781') format('woff'),
       url('../font/icons.ttf?97549781') format('truetype'),
       url('../font/icons.svg?97549781#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */