@font-face {
	font-family: 'cozette';
	src: url('../font/CozetteVector.ttf') format(truetype);
	src: url('../font/CozetteVector.otf'), url('../font/cozette.otb');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #2d2d2d;
	font-family: "cozette";
	font-style: normal;
	font-weight: normal;
	font-size: 24pt;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.terminalbox {
	border: 8pt double plum;
	color: white;
	width: 50%;
	min-width: 800px;
	max-width: 1015px;
	padding-bottom: 1em;
}
.terminalbox-title {
	padding: 0.5em;
	border-bottom: 2.5pt dashed plum;
	font-size: 28pt;
	font-weight: bold;
}
.terminalbox-body {
	padding: 0 0.5em;
}
.terminalbox-buttons {
	float: right;
}
.terminalbox-title .title-icon {
	border-right: 2.5pt dashed plum;
	padding-right: 0.5em;
	margin-right: 0.45em
}

@media only screen and (max-width: 1150px) {
	body {
		font-size: 18pt;
	}
	.terminalbox-title {
		font-size: 24pt;
	}
	.button {
		font-size: 15pt;
	}
	.terminalbox {
		min-width: 330px;
	}
}

@media only screen and (max-width: 985px) {
	body {
		font-size: 15pt;
	}
	.terminalbox-title {
		font-size: 18pt;
	}
	.button {
		font-size: 14pt;
	}
}

@media only screen and (max-width: 915px) {
	body {
		font-size: 12pt;
	}
	.terminalbox-title {
		font-size: 15pt;
	}
	.button {
		font-size: 10pt;
	}
}

.button {
	border: 2pt solid plum;
	padding: 0.4em 0.75em;
	text-decoration: none;
	color: thistle;
	margin: 0.2em 0;
}
.button:hover {
	background-color: #333333;
}